#----------------------------- FurrySpecies.config  ----------------------------

#***************************************************************************
#                            -  Description
#                             -------------------
#    Begin                : 6 December, 2006
#    Copyright            : (C) 2006 by Simo
#    E-Mail               : simo (at) furrydolphin (dot) net
#    Version              : 1.1.0
# ***************************************************************************
#
# ***************************************************************************
# *                                                                         *
# *   This program is free software; you can redistribute it and/or modify  *
# *   it under the terms of the GNU General Public License as published by  *
# *   the Free Software Foundation; either version 2 of the License, or     *
# *   (at your option) any later version.                                   *
# *                                                                         *
# *                                                                         *
# *   If software can be free, why can't dolphins?                          *
# *                                                                         *
# ***************************************************************************
#
#       Note: This file contains the "Species" code elements and descriptors.
#             If you edit this config file, make certain that all comments
#             begin in the first column only. It will not parse correctly
#             if comments appear elsewhere.
#
#*******************************************************************************

FA: Avians
FAA: Albatross (Gooney Bird)
FAD: Duck
FAE: Eagle
FAF: Falcon
FAG: Seagull
FAH: Hawk
FAK: Kiwi
FAO: Owl
FAR: Raven
FAS: Sparrow
FAW: Wren
FAr: Artiodactyls
FArA: Antelope
FArB: Buffalo
FArC: Cattle
FArD: Deer
FArE: Camel
FArF: Giraffe
FArG: Goat
FArL: Llama
FArM: Moose
FArN: Gnu (Wildebeest)
FArP: Pig
FArR: Reindeer
FArS: Sheep
FArW: Warthog
FArZ: Gazelle
FC: Canines
FCA: Arctic Wolf
FCC: Coyote
FCD: Dingo
FCF: Fox
FCJ: Jackel
FCM: Domestic
FCW: Wolf
FCX: Maned Wolf
FCe: Centaurs
FCeH: Common
FCeZ: Zebra
FCh: Chiroptera
FChF: Flying Fox
FChV: Vampire
FCt: Cetacea
FCtD: Dolphin
FD: Dragons
FDA: Alligator, Crocodile
FDC: Coelosaur (Velociraptor)
FDD: Dragon
FDiG: Digimon
FDK: Carnosaur (T. Rex)
FDL: Lizard
FDS: Snake
FDT: Tortoise
FE: Equines
FED: Donkey
FEH: Horse
FEZ: Zebra
FEd: Edentata
FEdA: Anteater
FEdR: Armadillo
FEdS: Sloth
FF: Felines
FFB: Bobcat
FFC: Clouded Leopard
FFD: Domestic
FFH: Cheetah
FFJ: Jaguar
FFL: Lion
FFM: Mountain Lion
FFO: Ocelot
FFP: Panther
FFS: Snow Leopard
FFT: Tiger
FFV: Serval
FFW: Wild Cat
FFX: Lynx
FG: Generic Furry
FH: Herpestidae
FHK: Meerkat
FHM: Mongoose
FHy: Hyaenidae
FHyH: Hyena
FI: Insectivorae
FIH: Hedgehog
FIM: Mole
FL: Lagomorpha
FLH: Hare
FLJ: Jackrabbit
FLR: Common Rabbit
FM: Mustelidae
FMA: Sable
FMB: Badger
FME: Ermine/Stoat
FMF: Ferret
FMK: Mink
FMM: Marten
FMO: Otter
FMP: Polecat
FMR: Ratel/Honey Badger
FMS: Skunk
FMV: Wolverine
FMW: Weasel
FMa: Marsupials
FMaB: Wombat
FMaK: Kangaroo
FMaO: Koala
FMaP: 'Possom
FMaT: Tasmanian Devil
FMaW: Wallaby
FMo: Monotremata
FMoP: Platypus
FP: Procyonidae
FPR: Raccoon
FPi: Pinnipedia
FPiL:Sea Lion
FPiS: Seal
FPiW: Walrus
FPr: Primates
FPrL: Lemur
FR: Rodents
FRB: Beaver
FRG: Grey Squirrel
FRM: Mouse
FRP: Porcupine
FRR: Rat
FRS: Red Squirrel
FRU: Muskrat
FU: Ursidae
FUA: Polar Bear
FUB: Black Bear
FUG: Grizzly Bear
FUP: Giant Panda
FV: Viverridae
FVC: Civet
FX: Mythical
FXA: Gargoyle
FXC: Manticore
FXG: Gryphon
FXH: Hippogriff
FXM: Mermaid
FZ: Polymorphs

#     Note: Special Modifiers

F_Uncertain
F_Private
F_Declined

#----------------------------- FurrySpecies.config  ----------------------------
