#--------------------------- Furry Occupations.config ---------------------------

#***************************************************************************
#                            -  Description
#                             -------------------
#    Begin                : 6 December, 2006
#    Copyright            : (C) 2006 by Simo
#    E-Mail               : simo (at) furrydolphin (dot) net
#    Version              : 1.1.0
# ***************************************************************************
#
# ***************************************************************************
# *                                                                         *
# *   This program is free software; you can redistribute it and/or modify  *
# *   it under the terms of the GNU General Public License as published by  *
# *   the Free Software Foundation; either version 2 of the License, or     *
# *   (at your option) any later version.                                   *
# *                                                                         *
# *                                                                         *
# *   If software can be free, why can't dolphins?                          *
# *                                                                         *
# ***************************************************************************
#
#       Note: This file contains the "Jobs" code elements and descriptors.
#             If you edit this config file, make certain that all comments
#             begin in the first column only. It will not parse correctly
#             if comments appear elsewhere.
#
#*******************************************************************************

RLA:  Art
RLBM: Business/Management
RLC:  Crafts
RLCI: Construction
RLCT: Computers/IT
RLE:  Engineering
RLET: Education
RLF:  Farming
RLGP: Gov't/Politics/Public Service
RLL:  Law
RLLW: Literature/Writer
RLM:  Music
RLMA: Military
RLMC: Media
RLMH: Medicine
RLRB: Retail Business
RLS:  Science
RLTH: Theatre
RLTI: Transport Industry
RLVM: Veterinary Medicine
RLAT: Furry of all Trades
RLU:  Occupation undecided at this time
RL-:  Retired/Independently Wealthy

#     Note: Special modifiers

RL_No_experience
RL_Private
RL_Declined

#--------------------------- Furry Occupations.config ---------------------------
